* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 85%;
  padding-top: 20px;
}

.card {
  /* background-color: rgb(114, 255, 101); */
  /* background-image: url(./img/post-it.jpg); */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  background-color: #FF6B6B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.lista-card {
  margin-top: 30px;
  list-style: none;
}

.card-sinistra {
  padding: 20px;
}

.card-sinistra h2 {
  color: #45B7D1;
}

.card-sinistra p {
  color: gold;
}

.card-destra {
  padding: 20px;
}

.card-sinistra h2 {
  margin-bottom: 20px;
}

input {
  margin: 5px;
  border: red 1px solid;
  padding: 10px;
}

.titolo {
  display: flex;
  justify-content: center;
}



button {
  padding: 10px;
  background-color: #FF6B6B;
  color: gold;
}

.card button {
  padding: 10px;
  background-color: #4ECDC4;
  color: gold;
}

body {
  background-color: #4ECDC4;
}